* {
  box-sizing: border-box;
  margin: 0;
  width: 1920px;
  font-family: 'Poppins';
}

.desktop {
  display: flex;
  padding: 100px 376.5px 0 394.5px;
}

.left {
  width: 428px;
  margin-right: 87px;
}

.crossbar {
  width: 186px;
  height: 2px;
  margin-bottom: 29px;
  background-color: #e03116;
}

.head {
  width: 428px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.29px;
  text-align: left;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 273px;
  margin-bottom: 37px;
}

.title {
  margin: 0 0 7px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.19px;
  text-align: left;
  color: #1f2c40;
  width: 273px;
}

.content {
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.14px;
  text-align: left;
  color: gray;
  width: 273px;
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: inline-block;
    padding: 100px 145.5px;
  }

  .left {
    margin-bottom: 51.9px;
    max-width: 821px;
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 821px;
  }

  .item, .title, .content {
    width: 370px;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: inline-block;
    padding: 100px 126px;
  }

  .left {
    margin-bottom: 51.9px;
    max-width: 549px;
  }

  .right {
    max-width: 514px;
  }

  .item, .title, .content {
    width: 514px;
  }

  .item {
    margin-bottom: 30.5px;
  }

  span {
    display: none;
  }
}