* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
  font-stretch: normal;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.14px;
  text-align: left;
}

section {
  justify-content: space-between;
  max-width: 71.5%;
  margin: auto;
  padding-top: 100px;
}

.crossbar {
  width: 186px;
  height: 2px;
  margin-bottom: 29px;
  background-color: #e03116;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.29px;
}

.left {
  margin-bottom: 64.1px;
}

.item {
  margin-bottom: 30.5px;
}

h2 {
  margin: 0 0 7px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.19px;
  text-align: left;
  color: #1f2c40;
}

p {
  color: gray;
}

@media screen and (min-width: 1024px) {
  section {
    max-width: 80%;
  }

  .left {
    margin-bottom: 51.9px;
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    max-width: 46.7%;
  }
}

@media screen and (min-width: 1440px) {
  section {
    display: flex;
    width: 79.8%;
  }
  .left {
    margin-bottom: 0;
    margin-right: 87px;
  }
  .right {
    max-width: 55.1%;
  }
  .item {
    max-width: 43%;
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 1920px) {
  section {
    max-width: 59.9%;
  }
}
