* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
  font-stretch: normal;
  font-style: normal;
}

.desktop {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
  padding: 100px 394.5px 0 376.5px;
  margin: auto;
}

.left {
  margin-right: 87px;
  margin-bottom: 51.9px;
}

.crossbar {
  width: 186px;
  height: 2px;
  margin-bottom: 29px;
  background-color: #e03116;
}

.head {
  width: 428px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.29px;
  text-align: left;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 43.06%;
  margin-bottom: 37px;
}

.title {
  margin: 0 0 7px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.19px;
  text-align: left;
  color: #1f2c40;
}

.content {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.14px;
  text-align: left;
  color: gray;
}

@media screen and (max-width: 1919px) {
  .desktop {
    padding: 100px 145.5px 0;
  }
}

@media screen and (max-width: 1439px) {
  .desktop {
    display: inline-block;
    padding: 100px 102px 0;
  }
  .head {
    width: 821px;
  }
  .item3{
    width: 45.13%;
  }
  .item4{
    width: 48.18%;;
  }

}

@media screen and (max-width: 1023px) {
  .desktop {
    padding: 100px 126px 0;
  }
  .head{
    width: 549px;
  }
  .left {
    margin-bottom: 64.1px;
  }
  .item{
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .desktop{
    padding: 50px;
  }
  .head{
    width: auto;
  }
}
